# Configurações do Rate Limiter

# Limite por IP (requisições por segundo)
RATE_LIMIT_IP=10

# Tempo de bloqueio do IP em segundos (quando exceder o limite)
RATE_LIMIT_IP_BLOCK_TIME=300

# Limite padrão por Token (requisições por segundo)
RATE_LIMIT_TOKEN_DEFAULT=100

# Tempo de bloqueio do Token em segundos (quando exceder o limite)
RATE_LIMIT_TOKEN_BLOCK_TIME=300

# Configurações do Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
